<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/layui/layuiadmin/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="/static/layui/layuiadmin/style/admin.css"  media="all">
  <script src="/static/layui/layuiadmin/layui/layui.js" charset="utf-8"></script>
  <script src="/static/jquery/jquery-2.1.4.min.js" charset="utf-8"></script>
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

        userLists.html

</body>
</html>