<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/layui/layuiadmin/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="/static/layui/layuiadmin/style/admin.css"  media="all">
  <script src="/static/layui/layuiadmin/layui/layui.js" charset="utf-8"></script>
  <script src="/static/jquery/jquery-2.1.4.min.js" charset="utf-8"></script>
  <script src="/static/ht/user/userList.js" charset="utf-8" ></script>
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

    <div class="sysUserTable">
        ID：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>

        用户名：
        <div class="layui-inline">
            <input class="layui-input" name="name" id="name" autocomplete="off">
        </div>

        地址：
        <div class="layui-inline">
            <input class="layui-input" name="address" id="address" autocomplete="off">
        </div>
        <!--<input type="text" id="deptId" value="">-->
        <span id="deptId" style="display: none;"></span>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>

    <script type="text/html" id="toolbarSysUser">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
      </div>
    </script>

    <div style="display: inline-block; width: 200px; height: 500px; padding: 10px; border: 1px solid #ddd; overflow: auto;">
        <ul id="demo2"></ul>
    </div>
    <div class="site-tips" style="display: inline-block; height: 200px; width: 850px; padding: 10px; margin-left: 10px; vertical-align: top;" id="demo2-view">
        <table class="layui-hide" id="sysUserTable" lay-filter="sysUserTable"></table>
    </div>

    <script type="text/html" id="barSysUser">
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
      <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="sexTpl">
      {{# if(d.sex==1){ }}
        男
      {{# } else { }}
         女
      {{# } }}
    </script>

</body>
</html>