<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.db1.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SysRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="role_value" jdbcType="VARCHAR" property="roleValue" />
    <result column="is_disable" jdbcType="INTEGER" property="isDisable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="getAll"  resultMap="BaseResultMap">

    select * from sys_role
    where 1=1
    <if test="page !='' and page != null">
      limit #{page}
    </if>
    <if test="limit !='' and limit != null">
      , #{limit}
    </if>

  </select>

  <select id="getRoleMenu"  resultType="java.util.HashMap">
    select role.*,sm.`name` from sys_role role
    left join sys_role_menu rm on role.id = rm.role_id
    left join sys_menu sm on sm.id = rm .menu_id
  </select>


</mapper>