<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.db1.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SysRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="role_value" jdbcType="VARCHAR" property="roleValue" />
    <result column="is_disable" jdbcType="INTEGER" property="isDisable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="getAll"  resultMap="BaseResultMap">

    select * from sys_role
    where 1=1

    <if test="roleName !='' and roleName != null">
      and role_name like concat('%',#{roleName},'%')
    </if>

    <if test="id != '' and id != null">
      and id = #{id}
    </if>


    <if test="page !='' and page != null">
      limit #{page}
    </if>
    <if test="limit !='' and limit != null">
      , #{limit}
    </if>

  </select>

  <select id="getRoleMenu"  resultType="java.util.HashMap">
    select role.*,sm.`name` from sys_role role
    left join sys_role_menu rm on role.id = rm.role_id
    left join sys_menu sm on sm.id = rm .menu_id
  </select>

  <select id="getRoleList" resultType="java.util.HashMap">
       select  t.id value,t.role_name name from sys_role t;

  </select>

  <!-- 根据用户id 获取 roleList 数据 -->
  <select id="getRoleListByUserId" resultType="java.util.HashMap" parameterType="java.lang.String">
     select sr.id value,sr.role_name name from sys_user_role sur
        left join sys_role sr on sr.id = sur.role_id
        where sur.user_id = #{userId};


  </select>


</mapper>