<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>修改字典信息-add</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/layui/layuiadmin/layui/css/layui.css}" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;" th:object="${tFoodWork}">
    <div class="layui-form-item">
        <label class="layui-form-label">日期</label>
        <div class="layui-input-inline">
            <input type="hidden" name="id" th:value="*{id}" />
            <input type="text" th:value="${workDate}" name="workDate"  id="workDate" lay-verify="date" placeholder="yyyy-MM-dd"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">多选</label>
        <div class="layui-input-inline">
            <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input" id="demo" value="刘晓军,张恒" ts-selected="002,003">
        </div>
        <div class="layui-form-mid layui-word-aux">本地演示数据，分页选中和其他页一样，这不是BUG</div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="tFoodWorkUpdateSubmit" id="tFoodWorkUpdateSubmit" value="确认">
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>

<script th:src="@{/static/layui/layuiadmin/layui/layui.js}"></script>Miss Fortune
<script>
    layui.use([ 'form','laydate'], function(){
        var $ = layui.$
                ,laydate = layui.laydate;
        form = layui.form;
        //常规用法
        laydate.render({
            elem: '#workDate',
            trigger: 'click'
        });
    })
</script>




</body>
</html>