<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="include :: header"></head>

<body>
    <div class="layui-btn-group">
        <button class="layui-btn" id="btn-add" shiro:hasPermission="sys:menu:add">增加</button>
        <button class="layui-btn" id="btn-expand">展开</button>
        <button class="layui-btn" id="btn-fold">折叠</button>
    </div>

    <table id="auth-table" class="layui-table" lay-filter="auth-table"></table>
    <!-- 操作列 -->
    <script type="text/html" id="auth-state">
        <a shiro:hasPermission="sys:menu:add" class="layui-btn layui-btn-sm layui-btn-xs" lay-event="add">添加</a>
        <a shiro:hasPermission="sys:menu:edit" class="layui-btn layui-btn-primary layui-btn-xs" id="edit" lay-event="edit">修改</a>
        <a shiro:hasPermission="sys:menu:remove" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <head th:include="include :: footer"></head>
    <script th:src="@{/static/ht/system/menu/menuList.js?v=2}" ></script>

</body>
</html>