<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>修改资源信息-edit</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="menuEdit" id="menuEdit" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-inline">
            <input type="text"  th:value="${pname}" readonly disabled autocomplete="off" class="layui-input">
            <input type="hidden" name="id" th:value="${sysMenu.id}" />
            <input type="hidden" name="pid" th:value="${sysMenu.pid}" />
            <input type="hidden" id="type" th:value="${sysMenu.type}" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单类型</label>
        <input type="radio" name="type" value="1" title="目录" >
        <input type="radio" name="type" value="2" title="菜单" >
        <input type="radio" name="type" value="3" title="按钮" >
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">资源名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" th:value="${sysMenu.name}" lay-verify="required"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源路径</label>
        <div class="layui-input-inline">
            <input type="text" name="url" th:value="${sysMenu.url}"   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限标识</label>
        <div class="layui-input-inline">
            <input type="text" name="perms"  th:value="${sysMenu.perms}"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标样式</label>
        <div class="layui-input-inline">
            <input type="text" name="icon" th:value="${sysMenu.icon}"   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <input type="text" name="remark" th:value="${sysMenu.remark}"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="sort"  th:value="${sysMenu.sort}"  autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="menuUpdateSubmit" id="menuUpdateSubmit" value="确认">
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>

<head th:include="include :: footer"></head>

<script>
    $(function (){
        var type = $("#type").val();
        $('input:radio[name=type]').each(function (i,e){
            if(type==1){
                $('input:radio[name=type]')[0].checked =true;
            }else if(type==2){
                $('input:radio[name=type]')[1].checked =true;
            }else{
                $('input:radio[name=type]')[2].checked =true;
            }
        })
    })
    layui.use([ 'form','laydate'], function(){
        var $ = layui.$
            ,laydate = layui.laydate;
        form = layui.form;
    })
</script>
</body>
</html>