<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>修改部门信息-Edit</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">上级部门</label>
        <div class="layui-input-inline">
            <input type="hidden" name="id" th:value="${sysDept.id}"/>
            <input type="hidden" name="pid" th:value="${sysDept.pid}"/>
            <input type="text" name="name" th:value="${pname}"  readonly lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-inline">
            <input type="text"  name="name" th:value="${sysDept.name}"  class="layui-input" />
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="sort"  th:value="${sysDept.sort}" placeholder="请输入排序" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否删除</label>
        <div class="layui-input-inline">
            <input type="text" name="isdel" th:value="${sysDept.isdel}" placeholder="请输入是否删除" autocomplete="off" class="layui-input" >
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="deptUpdate" id="deptUpdate" value="确认">
    </div>
</div>

<script src="/static/layui/layuiadmin/layui/layui.js"></script>
<script>
    layui.use([ 'form','laydate'], function(){
        var $ = layui.$
            ,laydate = layui.laydate;
        form = layui.form;
    })
</script>
</body>
</html>