<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- 引入css 文件 -->
<head th:include="include :: header"></head>

<body>

    <div class="sysRoleTable">
        ID：
        <div class="layui-inline">
            <input class="layui-input" name="demoReload" id="demoReload" autocomplete="off">
        </div>

       角色名：
        <div class="layui-inline">
            <input class="layui-input" name="roleName" id="roleName" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>


    <script type="text/html" id="toolbarsysRole">
      <div class="layui-btn-container">
        <button  shiro:hasPermission="sys:role:add" class="layui-btn layui-btn-sm" lay-event="add">添加</button>
      </div>
    </script>



    <table class="layui-hide" id="sysRoleTable" lay-filter="sysRoleTable"></table>

    <script type="text/html" id="barsysRole">
      <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"shiro:hasPermission="sys:role:info" >查看</a>-->
      <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:role:edit">编辑</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sys:role:remove">删除</a>
    </script>

    <!-- 引入footer文件 -->
    <div th:include="include::footer"></div>


    <script  th:src="@{/static/ht/system/role/roleList.js?v=12233}"  charset="utf-8"/>
    <script>
        $(function (){
            init();
        })
    </script>



</body>
</html>