<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SysDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SysDictionary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_label" jdbcType="VARCHAR" property="dictLabel" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="dict_sort" jdbcType="VARCHAR" property="dictSort" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="getAll"  resultMap="BaseResultMap">

    select * from sys_dictionary
    where 1=1

    <if test="name != '' and name != null">
      and name like  concat('%',#{name},'%')
    </if>

    <if test="address != '' and address != null">
      and address like   concat(concat('%',#{address}),'%')
    </if>

    <if test="id != '' and id != null">
      and id = #{id}
    </if>

    <if test="page !='' and page != null">
      limit #{page}
    </if>
    <if test="limit !='' and limit != null">
      , #{limit}
    </if>

  </select>

</mapper>