<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SysMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
    
    
  <resultMap id="BaseTreeMap" type="com.example.demo.dto.TreeListDto">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="alias" jdbcType="VARCHAR" property="alias" />
      <result column="palias" jdbcType="VARCHAR" property="palias" />
      <result column="name" jdbcType="VARCHAR" property="name" />

  </resultMap>




    <sql id="Base_Column_List">
        id, pid,name, url,perms,type,icon,remark,status,sort
    </sql>

  <select id="getAll" resultMap="BaseResultMap">
      select
     <include refid="Base_Column_List"/>
      from sys_menu
  </select>


  <select id="getTreeTable" resultMap="BaseResultMap">
        select * from sys_menu t order by t.sort
  </select>




  <!-- 根据用户id 查询所属权限菜单 -->
  <select id="getListByUserId" resultMap="BaseResultMap">
    select sm.id,sm.pid,sm.perms,sm.`name`,sm.url,sm.type,sm.sort,sm.icon from sys_menu sm
		left join sys_role_menu srm on srm.menu_id = sm.id
		left join sys_user_role sur on sur.role_id = srm.role_id
		where sur.user_id = #{userId}
		order by sm.sort

  </select>

  <select id="getMenusByUserId" parameterType="String" resultType="String">
    	select srm.menu_id from sys_role_menu srm
        left join sys_role sr on srm.role_id = sr.id
        left join sys_user_role sur on sur.role_id = sr.id
        where sur.user_id = #{userId}
  </select>

   <select id="getTreeList" resultMap="BaseTreeMap" >
      select t.id,t.`name`,t.id 'alias',t.pid 'palias' from sys_menu t;
   </select>

    <select id="getByRoleIdTreeList" resultMap="BaseTreeMap" parameterType="String">
        select m.id,m.`name`,m.id 'alias',m.pid 'palias' from sys_menu m
        left join sys_role_menu srm on srm.menu_id = m.id
        left join sys_role sr on sr.id = srm.role_id
        where sr.id = #{roleId}
    </select>

</mapper>