<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SysUserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>


   <select id="getRolesByUserId" resultType="String" parameterType="String">
      select sr.role_value from sys_user_role sur
      left join sys_role sr on sr.id = sur.role_id
      where sur.user_id = #{userId};
   </select>




</mapper>