<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TabCalendarMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.TabCalendar">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="calendar_year" jdbcType="VARCHAR" property="calendarYear" />
    <result column="calendar_date" jdbcType="DATE" property="calendarDate" />
    <result column="calendar_month" jdbcType="VARCHAR" property="calendarMonth" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  
  <!-- 根据当前日期 查询是否节假日  -->
  <select id="getCalendateByDate" resultMap="BaseResultMap">
  		select * from tab_calendar
  		where 1= 1 
  		<if test="calendarDate !=null and calendarDate !='' ">
  			and calendar_date  = #{calendarDate}
  		</if>
  </select>
  
</mapper>