<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TKitchenFoodtypeMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.TKitchenFoodtype">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="kitchen_id" jdbcType="DECIMAL" property="kitchenId" />
    <result column="foodtype_id" jdbcType="INTEGER" property="foodtypeId" />
    <result column="food_id" jdbcType="DECIMAL" property="foodId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="foodtype_field" jdbcType="VARCHAR" property="foodtypeField" />
    <result column="foodcommon_id" jdbcType="INTEGER" property="foodcommonId" />
    <result column="food_sort" jdbcType="INTEGER" property="foodSort" />
    <result column="kichen_price" jdbcType="DECIMAL" property="kichenPrice" />
    <result column="jsonpath" jdbcType="VARCHAR" property="jsonpath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="score_count" jdbcType="INTEGER" property="scoreCount" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="food_type" jdbcType="VARCHAR" property="foodType" />
  </resultMap>

  <select id="getAll"  resultMap="BaseResultMap">

    select * from t_kitchen_foodtype
    where 1=1

    <if test="kitchenId != '' and kitchenId != null">
      and kitchen_id = #{kitchenId}
    </if>

    <if test="status != '' and status != null">
      and status = #{status}
    </if>

    <if test="page !='' and page != null">
      limit #{page}
    </if>
    <if test="limit !='' and limit != null">
      , #{limit}
    </if>

  </select>


  <!-- 获取门店菜品信息  -->
  <select id="getFoodTypeList" resultType="java.util.Map">

    SELECT
      t.id,
      t.kitchen_id kitchenId,
      k.`name` kitchenName,
      t.food_id foodId,
      t.food_name foodName,
      t.kichen_price kitchenPrice,
      t.`status`,
      t.foodtype_id foodtypeId,
      t.food_type foodType,
      ft.`name` foodtypeName,
      DATE_FORMAT(t.create_time, '%Y-%m-%d') createTime
    FROM
      t_kitchen_foodtype t
      inner join t_kitchen k on k.kitchen_id = t.kitchen_id
    inner join t_foodtype ft on ft.`code` = t.foodtype_id


    <if test="kitchenId != '' and kitchenId != null">
      and t.kitchen_id = #{kitchenId}
    </if>

    <if test="status != '' and status != null">
      and t.status = #{status}
    </if>
    <if test="foodtypeId != '' and foodtypeId != null">
      and  t.foodtype_id  = #{foodtypeId}
    </if>
    <if test="foodName != '' and foodName != null ">
      and t.food_name like concat('%',#{foodName},'%')
    </if>
    <if test="foodType != '' and foodType != null ">
      and t.food_type in (${foodType})
    </if>
    <if test="page !='' and page != null">
      limit #{page}
    </if>
    <if test="limit !='' and limit != null">
      , #{limit}
    </if>

  </select>



  <select id="getByKitId" resultMap="BaseResultMap" >
    select * from  t_kitchen_foodtype
    where 1=1  and kitchen_id = #{kitchenId}

  </select>

  <!-- 查询分类信息  -->
  <select id="getTypeList" resultType="java.util.Map">
    SELECT
        t.`code`,
        t.`name`
    FROM
        t_foodtype t;
  </select>




</mapper>