<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TKitchenFoodtypeMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.TKitchenFoodtype">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="kitchen_id" jdbcType="DECIMAL" property="kitchenId" />
    <result column="foodtype_id" jdbcType="INTEGER" property="foodtypeId" />
    <result column="food_id" jdbcType="DECIMAL" property="foodId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="foodtype_field" jdbcType="VARCHAR" property="foodtypeField" />
    <result column="foodcommon_id" jdbcType="INTEGER" property="foodcommonId" />
    <result column="food_sort" jdbcType="INTEGER" property="foodSort" />
    <result column="kichen_price" jdbcType="DECIMAL" property="kichenPrice" />
    <result column="jsonpath" jdbcType="VARCHAR" property="jsonpath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="score_count" jdbcType="INTEGER" property="scoreCount" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>

  <select id="getAll"  resultMap="BaseResultMap">

    select * from t_kitchen_foodtype
    where 1=1

    <if test="kitchenId != '' and kitchenId != null">
      and kitchen_id = #{kitchenId}
    </if>

    <if test="status != '' and status != null">
      and status = #{status}
    </if>

    <if test="page !='' and page != null">
      limit #{page}
    </if>
    <if test="limit !='' and limit != null">
      , #{limit}
    </if>

  </select>


  <select id="getByKitId" resultMap="BaseResultMap" >
    select * from  t_kitchen_foodtype
    where 1=1  and kitchen_id = #{kitchenId}

  </select>


</mapper>